<a href="https://colab.research.google.com/github/arghac14/CropYield-prediction/blob/master/CropPrediction(data_exploration).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data={
    'Dist':['Begalkat','Bangalore Rural','Bangalore Urban','Belgaum','Bellary','Bidar','Bijapur','Chamaraj Nagar','Chikmagalur','Chitradurga','Dakshin Kannada','Davangede','Dharwad','Gadag','Gulburga','Hassan','Haveri','Kodagu','Kolar','Koppal','Mandya','Mysore','Raichur','Shimoga','Tumkur','Udupi','Uttar Kannada'],
    'Mean_rain':[3.11,3.9,4.09,6.37,3.41,5.29,3.25,4.27,12.96,3.21,26.75,4.52,5.67,3.38,4.61,6.51,7.05,13.29,3.49,3.21,3.5,4.39,3.62,14.26,3.33,33.36,19.35],
     'Std_dev':[1.31,3.01,3.02,2.32,2.76,1.48,1.10,2.84,2.92,2.94,5.18,3.02,3.51,3.12,1.42,2.75,3.74,3.41,3.03,2.47,3.03,3.13,1.23,4.81,3.06,6.14,3.58],
     'Var':[42,77,74,36,81,28,24,66,23,91,19,67,62,92,31,42,53,26,87,77,87,72,34,34,92,18,18],
    'Prec_trend':[1.30,7.83,7.89,7.76,5.44,-0.54,-0.96,5.01,-2.85,8.73,-17.69,8.52,6.12,6.06,-1.91,2.03,6.54,-1.75,9.34,4.58,7.43,5.92,0.15,-10.59,7.55,-22.38,-1.87],
    'Temp_max':[0.536,0.400,0.323,.444,.471,.610,.632,.265,.253,.334,.141,.364,.415,.492,.644,.265,0.408,.161,.361,.482,.311,.262,.602,.250,.321,.111,.146],
    'Temp_min':[0.537,0.396,0.320,.332,.575,.572,.611,.365,.257,.335,.148,.366,.324,.393,.641,.265,.317,.262,.258,.588,.498,.463,.615,.352,.403,.113,.146],
    #'Yield':[96747,15590,1820,188748,1336529,531,29745,43025,1397,78792,0,197937,25591,28784,4674,58528,209750,9867,21851,25503,5947,42859,209,96597,21744,0,177],
    'Yield/area':[3344,3433,2646,2154,2400,1570,2408,2828,1876,1705,0,1609,2091,1506,2236,3215,2113,4212,1361,2337,1949,2396,2075,3811,1577,0,1553]
}
df=pd.DataFrame(data)
df

,Dist,Mean_rain,Std_dev,Var,Prec_trend,Temp_max,Temp_min,Yield/area
0,Begalkat,3.11,1.31,42,1.30,0.536,0.537,3344
1,Bangalore Rural,3.90,3.01,77,7.83,0.400,0.396,3433
2,Bangalore Urban,4.09,3.02,74,7.89,0.323,0.320,2646
3,Belgaum,6.37,2.32,36,7.76,0.444,0.332,2154
4,Bellary,3.41,2.76,81,5.44,0.471,0.575,2400
5,Bidar,5.29,1.48,28,-0.54,0.610,0.572,1570
6,Bijapur,3.25,1.10,24,-0.96,0.632,0.611,2408
7,Chamaraj Nagar,4.27,2.84,66,5.01,0.265,0.365,2828
8,Chikmagalur,12.96,2.92,23,-2.85,0.253,0.257,1876
9,Chitradurga,3.21,2.94,91,8.73,0.334,0.335,1705
10,Dakshin Kannada,26.75,5.18,19,-17.69,0.141,0.148,0
11,Davangede,4.52,3.02,67,8.52,0.364,0.366,1609
12,Dharwad,5.67,3.51,62,6.12,0.415,0.324,2091
13,Gadag,3.38,3.12,92,6.06,0.492,0.393,1506
14,Gulburga,4.61,1.42,31,-1.91,0.644,0.641,2236
15,Hassan,6.51,2.75,42,2.03,0.265,0.265,3215
16,Haveri,7.05,3.74,53,6.54,0.408,0.317,2113
17,Kodagu,13.29,3.41,26,-1.75,0.161,0.262,4212
18,Kolar,3.49,3.03,87,9.34,0.361,0.258,1361
19,Koppal,3.21,2.47,77,4.58,0.482,0.588,2337
20,Mandya,3.50,3.03,87,7.43,0.311,0.498,1949
21,Mysore,4.39,3.13,72,5.92,0.262,0.463,2396
22,Raichur,3.62,1.23,34,0.15,0.602,0.615,2075
23,Shimoga,14.26,4.81,34,-10.59,0.250,0.352,3811
24,Tumkur,3.33,3.06,92,7.55,0.321,0.403,1577
25,Udupi,33.36,6.14,18,-22.38,0.111,0.113,0
26,Uttar Kannada,19.35,3.58,18,-1.87,0.146,0.146,1553