<a href="https://colab.research.google.com/github/disha2sinha/CropYield-prediction/blob/master/RegressionOnCropCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING CROP CSV **

In [7]:
from google.colab import files
uploaded=files.upload()

Saving crop.csv to crop.csv

In [8]:
import io
import pandas as pd
df=pd.read_csv(io.BytesIO(uploaded['crop.csv']))
df

,Unnamed: 0,Dist,Mean_rain,Std_dev,Var,Prec_trend,Temp_max,Temp_min,Yield/area
0,0,Begalkat,3.11,1.31,42,1.30,0.536,0.537,3344.000000
1,1,Bangalore Rural,3.90,3.01,77,7.83,0.400,0.396,3433.000000
2,2,Bangalore Urban,4.09,3.02,74,7.89,0.323,0.320,2646.000000
3,3,Belgaum,6.37,2.32,36,7.76,0.444,0.332,2154.000000
4,4,Bellary,3.41,2.76,81,5.44,0.471,0.575,2400.000000
5,5,Bidar,5.29,1.48,28,-0.54,0.610,0.572,1570.000000
6,6,Bijapur,3.25,1.10,24,-0.96,0.632,0.611,2408.000000
7,7,Chamaraj Nagar,4.27,2.84,66,5.01,0.265,0.365,2828.000000
8,8,Chikmagalur,12.96,2.92,23,-2.85,0.253,0.257,1876.000000
9,9,Chitradurga,3.21,2.94,91,8.73,0.334,0.335,1705.000000
10,10,Dakshin Kannada,26.75,5.18,19,-17.69,0.141,0.148,2163.148148
11,11,Davangede,4.52,3.02,67,8.52,0.364,0.366,1609.000000
12,12,Dharwad,5.67,3.51,62,6.12,0.415,0.324,2091.000000
13,13,Gadag,3.38,3.12,92,6.06,0.492,0.393,1506.000000
14,14,Gulburga,4.61,1.42,31,-1.91,0.644,0.641,2236.000000
15,15,Hassan,6.51,2.75,42,2.03,0.265,0.265,3215.000000
16,16,Haveri,7.05,3.74,53,6.54,0.408,0.317,2113.000000
17,17,Kodagu,13.29,3.41,26,-1.75,0.161,0.262,4212.000000
18,18,Kolar,3.49,3.03,87,9.34,0.361,0.258,1361.000000
19,19,Koppal,3.21,2.47,77,4.58,0.482,0.588,2337.000000
20,20,Mandya,3.50,3.03,87,7.43,0.311,0.498,1949.000000
21,21,Mysore,4.39,3.13,72,5.92,0.262,0.463,2396.000000
22,22,Raichur,3.62,1.23,34,0.15,0.602,0.615,2075.000000
23,23,Shimoga,14.26,4.81,34,-10.59,0.250,0.352,3811.000000
24,24,Tumkur,3.33,3.06,92,7.55,0.321,0.403,1577.000000
25,25,Udupi,33.36,6.14,18,-22.38,0.111,0.113,2163.148148
26,26,Uttar Kannada,19.35,3.58,18,-1.87,0.146,0.146,1553.000000

**APPLYING SIMPLE LINEAR REGRESSION **

In [0]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
X=df.drop('Yield/area',axis=1)
y=df[['Yield/area']]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [14]:
reg=LinearRegression()
reg.fit(X_train[['Mean_rain']],y_train)
y_predicted=reg.predict(X_test[['Mean_rain']])
print("MEAN SQUARED ERROR:",mean_squared_error(y_test,y_predicted),"%")
print("R2 score:",r2_score(y_test,y_predicted),"%")

MEAN SQUARED ERROR: 340488.57014603517 %
R2 score: -0.1777445622134104 %

In [18]:
reg=LinearRegression()
reg.fit(X_train[['Std_dev']],y_train)
y_predicted=reg.predict(X_test[['Std_dev']])
print("MEAN SQUARED ERROR:",mean_squared_error(y_test,y_predicted),"%")
print("R2 score:",r2_score(y_test,y_predicted),"%")

MEAN SQUARED ERROR: 344825.64574112545 %
R2 score: -0.19274643788822443 %

In [19]:
reg=LinearRegression()
reg.fit(X_train[['Var']],y_train)
y_predicted=reg.predict(X_test[['Var']])
print("MEAN SQUARED ERROR:",mean_squared_error(y_test,y_predicted),"%")
print("R2 score:",r2_score(y_test,y_predicted),"%")

MEAN SQUARED ERROR: 347980.1351273744 %
R2 score: -0.20365776662863166 %

In [20]:
reg=LinearRegression()
reg.fit(X_train[['Prec_trend']],y_train)
y_predicted=reg.predict(X_test[['Prec_trend']])
print("MEAN SQUARED ERROR:",mean_squared_error(y_test,y_predicted),"%")
print("R2 score:",r2_score(y_test,y_predicted),"%")

MEAN SQUARED ERROR: 335961.6315825391 %
R2 score: -0.16208595354309585 %

In [21]:
reg=LinearRegression()
reg.fit(X_train[['Temp_max']],y_train)
y_predicted=reg.predict(X_test[['Temp_max']])
print("MEAN SQUARED ERROR:",mean_squared_error(y_test,y_predicted),"%")
print("R2 score:",r2_score(y_test,y_predicted),"%")

MEAN SQUARED ERROR: 337331.55888146046 %
R2 score: -0.1668245103358843 %

In [22]:
reg=LinearRegression()
reg.fit(X_train[['Temp_min']],y_train)
y_predicted=reg.predict(X_test[['Temp_min']])
print("MEAN SQUARED ERROR:",mean_squared_error(y_test,y_predicted),"%")
print("R2 score:",r2_score(y_test,y_predicted),"%")

MEAN SQUARED ERROR: 346143.4313391727 %
R2 score: -0.19730463736492831 %

**APPLYING MULTIPLE LINEAR REGRESSION**

In [23]:
reg=LinearRegression()
reg.fit(X_train[['Mean_rain','Std_dev','Var','Prec_trend','Temp_max','Temp_min']],y_train)
y_predicted=reg.predict(X_test[['Mean_rain','Std_dev','Var','Prec_trend','Temp_max','Temp_min']])
print("MEAN SQUARED ERROR:",mean_squared_error(y_test,y_predicted),"%")
print("R2 score:",r2_score(y_test,y_predicted),"%")

MEAN SQUARED ERROR: 656071.1816909346 %
R2 score: -1.2693398087636867 %

In [24]:
reg=LinearRegression()
reg.fit(X_train[['Mean_rain','Prec_trend','Temp_max']],y_train)
y_predicted=reg.predict(X_test[['Mean_rain','Prec_trend','Temp_max']])
print("MEAN SQUARED ERROR:",mean_squared_error(y_test,y_predicted),"%")
print("R2 score:",r2_score(y_test,y_predicted),"%")

MEAN SQUARED ERROR: 481722.82104037143 %
R2 score: -0.6662715953462608 %

**APPLYING POLYNOMIAL REGRESSION**